/******************/
/* DEFAULT STYLES */
/******************/



/************************/
/* BODY AND TEXT FILES */
/***********************/

body {
  margin: 0;
  padding: 0;
  background: hsl(60, 20%, 95%);
  color: hsl(235, 65%, 10%);
  font-family: Futura, serif;
  font-size: 1rem;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}




/******************/
/* NAVIGATION BAR */
/******************/

.navbar {
  margin: 0;
  padding: 1rem;
  background: hsl(60, 20%, 70%);
  /*
  display: sticky;
  top: 0;
  z-index: 1000;
  */
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}

.navbar ul li a {
  color: hsl(235, 65%, 10%);
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  text-decoration: underline;
}




/**********/
/* HEADER */
/**********/

header {
  margin: 0;
  padding: 0;
}




/******************/
/* IMAGE AND TEXT */
/******************/

.image-and-text {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
}

.image img {
  width: 100%;
  height: auto;
}

.text {
  flex: 1;
  text-align: justify;
}

@media (max-width: 768px) {
  .image-and-text {
    flex-flow: column-reverse;
    align-items: center;
  }

  .image {
    width: 100%;
  }
}



/**********/
/* FOOTER */
/**********/

footer {
  margin: 0;
  padding: 0;
  background: hsl(60, 20%, 50%);
}