/**********/
/* HEADER */
/**********/

header h1 {
  margin: 0;
  padding: 10rem 1rem 2rem 1rem;
}

header .intro {
  margin: 0;
  padding: 2rem;
  background: hsl(60, 20%, 90%);
}

header p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
}

/*
.image-and-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image-and-text img {
  max-width: 500px;
  height: auto;
}

.image-and-text p {
  flex: 1;
  text-align: justified;
}

@media (max-width: 768px) {
  .image-and-text {
    flex-direction: column-reverse;
    text-align: center;
  }

  .image-and-text img {
    max-width: 100%;
  }
}
*/