/**********/
/* HEADER */
/**********/

header h1 {
  margin: 0;
  padding: 10rem 1rem 2rem 1rem;
}

header .intro {
  margin: 0;
  padding: 2rem;
  /* background: hsl(60, 20%, 90%); */
}

header p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
}